= form_for @posts_thread do |f|
  -if @posts_thread.errors.any?
    #error_explanation
      %h2= "#{pluralize(@posts_thread.errors.count, "error")} prohibited this posts_thread from being saved:"
      %ul
        - @posts_thread.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
