#post_form
  =form_for [@board, @replies.build] do |f|
    %p
      %label{for: 'author'} Name
      = f.text_field :author
    %p
      %label{for: 'author_email'} E-mail
      = f.text_field :author_email
    %p
      %label{for: 'subject'} Subject
      = f.text_field :subject
    #post_image
      %label{for: 'image'} Image
      = f.file_field :image
    %p
      %label{for: 'content'} Comment
      = f.text_area :content
    %p
      = f.hidden_field(:parent_post, :id => @replies.first.parent_post)
      = f.submit


#main_post
  %p
    Name:
    = @post.author
  %p
    E-Mail:
    = @post.author_email
  %p
    Subject:
    = @post.subject
  #post_image
    Image:
    = image_tag @post.image.url
  %p
    Comment:
    = @post.content

.posts
  -if @replies.size > 0
    -@replies.each do |reply|
      #post
        %p
          Name:
          = reply.author
        %p
          E-Mail:
          = reply.author_email
        %p
          Subject:
          = reply.subject
        #reply_image
          Image:
          = image_tag reply.image.url
        %p
          Comment:
          = reply.content

