#post_form
  =form_for [@board, @replies.build] do |f|
    %p
      %label{for: 'author'} Name
      = f.text_field :author
    %p
      %label{for: 'author_email'} E-mail
      = f.text_field :author_email
    %p
      %label{for: 'subject'} Subject
      = f.text_field :subject
    #post_image
      %label{for: 'image'} Image
      = f.file_field :image
    %p
      %label{for: 'content'} Comment
      = f.text_area :content
    %p
      = hidden_field_tag 'parent_post', @replies.first.parent_post.id.to_s
      = f.submit


#main_post
  %table
    %tr
      %td
        #post_image
          = link_to(image_tag(@post.image.thumb.url), @post.image.url)
      %td
        %ul#post_info
          %li
            %strong Name:
            = @post.author
          %li
            %strong E-Mail:
            = @post.author_email
          %li
            %strong Subject:
            = @post.subject
        %p
          = @post.content

  .posts
    -unless @replies.empty?
      -@replies.each do |reply|
        #post
          %table
            %tr
              %td
                #reply_image
                  = link_to(image_tag(reply.image.thumb.url), reply.image.url)
              %td
                %ul#post_info
                  %li
                    %strong Name:
                    = reply.author
                  %li
                    %strong E-Mail:
                    = reply.author_email
                  %li
                    %strong Subject:
                    = reply.subject
                %p
                  = reply.content

